.main__margin {
  margin-top: 50px; }

.main__margin__section {
  margin-top: 70px; }

.main__title {
  font-size: 50px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 15px;
  animation: fluido 3s ease-in-out infinite;
  background: linear-gradient(45deg, #12ff00, #68a678, #054600);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.main__image {
  height: 725px;
  margin-top: 5px;
  margin-bottom: 20px; }

.our__values__main__title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding-top: 40px; }

.our__values__images {
  background-color: white;
  margin: 20px;
  width: 125px;
  height: 125px; }

.our__values__titles {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px; }

.our__values__texts {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-bottom: 50px; }

.background__second__div {
  background-color: #e7ffed;
  margin: 0px; }

.our__products {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold; }
  .our__products__title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    margin-top: 150px; }
  .our__products__text {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: relative;
    margin-top: 10px;
    padding-bottom: 10px; }
  .our__products__button {
    border-radius: 3px;
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    background-color: #68a678; }
  .our__products__button:hover {
    color: white;
    background-color: #054600; }
  .our__products__images {
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 50px; }

.other__products {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  padding: 10px; }
  .other__products__order2 {
    background-color: #e7ffed;
    padding: 25px;
    margin: 10px; }
  .other__products__order2:hover {
    transform: scale(1.1);
    background-color: beige; }
  .other__products__imgs {
    width: 270px;
    height: 230px;
    border-radius: 10px;
    text-align: center; }
  .other__products__texts {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px; }
  .other__products__buttons {
    background-color: #68a678;
    padding: 5px 10px;
    margin: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-radius: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 30%; }
  .other__products__buttons:hover {
    color: white;
    background-color: #054600; }
  .other__products__allCategories {
    color: #68a678;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 25px;
    text-decoration: none; }
  .other__products__allCategories:hover {
    color: #68a678;
    text-decoration: underline; }

.main__title__form {
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  margin-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  position: relative; }

.main__text__form {
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.form__bg {
  background-color: white; }

.main__form {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px; }

.form__input__style {
  border-radius: 3px;
  border: 2px solid #68a678;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif; }

.form__button {
  padding: 0.5em 1em;
  border: none;
  background: #68a678;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 3px; }

.iniciar__sesion {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 10px; }
  .iniciar__sesion__links {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #68a678;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px; }
  .iniciar__sesion__links:hover {
    color: #68a678;
    text-decoration: underline; }
  .iniciar__sesion__button {
    padding: 0.5em 1em;
    border: none;
    background: #68a678;
    cursor: pointer;
    margin: 15px;
    border-radius: 3px; }

.main__form2 {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form__input__style2 {
  border-radius: 3px;
  border: 2px solid #68a678;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif; }

.form__input__size2 {
  width: 18%;
  height: 30px; }

@media (max-width: 767px) {
  .iniciar__sesion {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 10px; }
    .iniciar__sesion__links {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      color: #68a678;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin-top: 10px; } }

.mis__compras {
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  margin: 5px; }
  .mis__compras__texto {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 16px; }
  .mis__compras__noRecibido {
    color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 60px;
    font-weight: bold; }
  .mis__compras__recibido {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #00a650;
    font-weight: bold;
    padding-top: 60px;
    font-size: 20px; }
  .mis__compras__productos {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px; }
  .mis__compras__imagenes {
    width: 250px;
    height: 300px; }
  .mis__compras__flecha {
    height: 20px;
    width: 20px;
    padding-right: 3px; }
  .mis__compras__verCompra {
    border-radius: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 5px 0px;
    text-decoration: none;
    color: black;
    background-color: #ededed; }
  .mis__compras__verCompra:hover {
    color: #68a678; }
  .mis__compras__volverComprar {
    border-radius: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 5px 0px;
    text-decoration: none;
    color: black;
    background-color: #68a678; }
  .mis__compras__volverComprar:hover {
    color: white;
    background-color: #054600; }
  .mis__compras__box {
    background-color: #e7ffed;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid #68a678; }
  .mis__compras__orden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .mis__compras__cuandoLlega {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold; }
  .mis__compras__cuantas {
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: grey; }
  .mis__compras__backmenu {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #68a678;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 50px;
    text-decoration: none; }
  .mis__compras__backmenu:hover {
    color: #68a678;
    text-decoration: underline; }

@media (max-width: 767px) {
  .mis__compras {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 10px; }
    .mis__compras__imagenes {
      width: 70px;
      height: 230px; }
    .mis__compras__texto {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      font-size: 14px; }
    .mis__compras__noRecibido {
      color: red;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 16px;
      padding-top: 20px;
      font-weight: bold; }
    .mis__compras__recibido {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #00a650;
      font-weight: bold;
      padding-top: 20px;
      font-size: 16px; }
    .mis__compras__productos {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 16px; }
    .mis__compras__box {
      background-color: #e7ffed;
      border-radius: 10px;
      margin: 5px;
      padding-bottom: 20px; }
    .mis__compras__cuandoLlega {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 16px;
      font-weight: bold; }
    .mis__compras__backmenu {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      color: #68a678;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      text-decoration: none; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .mis__compras__imagenes {
    width: 100px;
    height: 380px; } }

.who__we__are {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  padding: 10px; }
  .who__we__are__texts {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-top: 200px;
    color: black; }
  .who__we__are__images {
    height: 550px;
    border-radius: 35px;
    padding: 0 !important;
    box-shadow: 10px 10px 5px 0px #68a678;
    -webkit-box-shadow: 10px 10px 5px 0px #68a678;
    -moz-box-shadow: 10px 10px 5px 0px #68a678;
    margin-bottom: 50px; }
  .who__we__arepad {
    padding-left: 10px; }
  .who__we__are__instagram {
    text-decoration: none;
    color: #68a678;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px; }
  .who__we__are__instagram:hover {
    color: #68a678;
    text-decoration: underline; }
  .who__we__are__backmenu {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #68a678;
    padding: 10px;
    text-decoration: none; }
  .who__we__are__backmenu:hover {
    color: #68a678;
    text-decoration: underline; }

.about__us {
  padding: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 25px; }
  .about__us__bg {
    background-color: #e7ffed; }
  .about__us__box {
    padding: 5px;
    border-radius: 50px;
    border: 3px solid #68a678; }
  .about__us__titles {
    font-weight: bold;
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
  .about__us__images {
    width: 40px;
    height: 40px;
    padding: 3px; }

.meetUs {
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px; }
  .meetUs__titles {
    font-weight: bold;
    font-size: 17px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px; }
  .meetUs__images {
    width: 300px;
    height: 240px;
    border-radius: 50%;
    padding: 5px;
    border: 3px solid #68a678;
    margin-top: 10px; }
  .meetUs__media {
    width: 30px;
    height: 30px;
    padding: 3px; }
  .meetUs__goodbye {
    padding: 10px;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
  .meetUs__contact {
    text-decoration: none;
    color: #68a678;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px; }
  .meetUs__contact:hover {
    color: #68a678;
    text-decoration: underline; }

@media (max-width: 767px) {
  .who__we__are {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 10px; }
    .who__we__are__texts {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 16px;
      padding-top: 10px;
      color: black; }
    .who__we__are__images {
      height: 200px;
      width: 140px;
      border-radius: 35px;
      padding: 0 !important;
      box-shadow: 10px 10px 5px 0px #68a678;
      -webkit-box-shadow: 10px 10px 5px 0px #68a678;
      -moz-box-shadow: 10px 10px 5px 0px #68a678;
      margin-bottom: 50px; }
    .who__we__arepad {
      padding-left: 10px; }
    .who__we__are__instagram {
      text-decoration: none;
      color: #68a678;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-size: 20px; }
    .who__we__are__backmenu {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      color: #68a678;
      padding: 10px;
      text-decoration: none; }
  .about__us {
    padding: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px; }
    .about__us__bg {
      background-color: #e7ffed; }
    .about__us__box {
      border-radius: 50px;
      border: 3px solid #68a678; }
    .about__us__titles {
      font-weight: bold;
      font-size: 14px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
    .about__us__texts {
      font-size: 12px; }
    .about__us__images {
      width: 40px;
      height: 40px;
      padding: 3px; }
  .meetUs {
    padding: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px; }
    .meetUs__titles {
      font-weight: bold;
      font-size: 14px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      padding: 5px; }
    .meetUs__images {
      width: 185px;
      height: 175px;
      border-radius: 50%;
      padding: 3px;
      border: 3px solid #68a678;
      margin-top: 10px; }
    .meetUs__media {
      width: 25px;
      height: 25px;
      padding: 3px; }
    .meetUs__goodbye {
      padding: 10px;
      font-size: 16px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
    .meetUs__contact {
      text-decoration: none;
      color: #68a678;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 16px; } }

.terms__and__conditions {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px; }
  .terms__and__conditions__text {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 14px; }
  .terms__and__conditions__titles {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold; }
  .terms__and__conditions__box {
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #68a678; }
  .terms__and__conditions__title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding: 15px; }

.back__menu {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #68a678;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  text-decoration: none; }

.back__menu:hover {
  color: #68a678;
  text-decoration: underline; }

@media (max-width: 767px) {
  .terms__and__conditions {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 16px; }
    .terms__and__conditions__text {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      font-size: 12px; }
    .terms__and__conditions__titles {
      font-size: 18px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold; }
    .terms__and__conditions__box {
      padding: 15px;
      margin: 20px;
      border-radius: 10px;
      border: 2px solid #68a678; }
    .terms__and__conditions__title {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      font-size: 30px;
      padding: 10px; } }

@keyframes fluido {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

.padding-i {
  padding: 1rem; }

.padding-i {
  padding: 2rem; }

.padding-i {
  padding: 3rem; }

.padding-i {
  padding: 4rem; }

.padding-i {
  padding: 5rem; }

.padding-i {
  padding: 6rem; }

.padding-i {
  padding: 7rem; }

.padding-i {
  padding: 8rem; }

.padding-i {
  padding: 9rem; }

.padding-i {
  padding: 10rem; }

@media (max-width: 767px) {
  .main__header {
    color: black; }
  .main__logo {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    text-decoration: none;
    color: black; }
  .main__header ul {
    list-style-type: none;
    font-size: 0; }
  .main__header li {
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 10%;
    font-weight: bold;
    position: relative;
    font-size: 14px; }
  .main__header__li--modifier {
    display: inline-block;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-right: 100px;
    margin-top: 10px;
    font-size: 14px; }
  .margin__main {
    margin-top: 100px; }
  .main__title {
    font-size: 25px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 15px;
    animation: fluido 3s ease-in-out infinite;
    background: linear-gradient(45deg, #12ff00, #68a678, #054600);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .main__image {
    border-radius: 25px;
    max-width: 335px;
    max-height: 285px; }
  .our__products {
    font-size: 20px;
    padding-top: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold; }
  .our__products__title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px; }
  .our__products__text {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 10px; }
  .our__products__button {
    border-radius: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    background-color: #68a678; }
  .our__products__button:hover {
    color: white;
    background-color: #054600; }
  .our__products__images {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 5px; }
  .other__products {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px; }
    .other__products__imgs {
      width: 300px;
      height: 230px;
      border-radius: 10px;
      text-align: center; }
  .background__second__div {
    background-color: #e7ffed;
    margin: 0px; }
  .footer__ul__img {
    margin-left: 70px; }
  .text__footer__ul--modifier {
    margin-left: 2px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px; }
  .terms__and__conditions {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px; }
  .footer__attention__img {
    border-radius: 50%;
    max-width: 20px;
    max-height: 20px;
    margin: 2px; }
  .main__text__form {
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
  .form__input__size2 {
    width: 50%;
    height: 30px; }
  .back__menu {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #68a678;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px; }
  .who__we__are__backmenu {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #68a678;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px; }
  .mis__compras__backmenu {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #68a678;
    margin-top: 15px;
    margin-bottom: 15px; }
  .text__footer__ul__a {
    padding-top: 5px; }
  .our__values__main__title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px; }
  .our__values__images {
    background-color: white;
    width: 90px;
    height: 90px; }
  .our__values__titles {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px; }
  .our__values__texts {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 12px; } }

@media (min-width: 1200px) and (max-width: 1400px) {
  .main__image {
    border-radius: 25px;
    max-width: 1080px;
    max-height: 650px; } }

@media (min-width: 1000px) and (max-width: 1200px) {
  .main__image {
    border-radius: 25px;
    max-width: 910px;
    max-height: 570px; } }

@media (min-width: 768px) and (max-width: 1000px) {
  .main__image {
    border-radius: 25px;
    max-width: 670px;
    max-height: 580px; } }

.main__header {
  color: black; }

.main__logo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  margin-left: 5px;
  color: black; }

.nav {
  background-color: white;
  border-bottom: 1px solid grey; }

.nav__image {
  height: 50px;
  width: 50px;
  margin-right: 2px; }

.main__logo:hover {
  text-decoration: none;
  color: black; }

.nav__color {
  color: black;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

.main__header__li--modifier {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-right: 60px;
  font-size: 14px;
  margin-left: 15px;
  padding-top: 15px; }

.main__header__li--modifier a:hover:not(.active) {
  color: #68a678; }

.main__header__li--modifier a:active {
  color: aquamarine; }

.main__header ul li a {
  text-decoration: none;
  color: black; }

.carrito {
  width: 35px;
  height: 35px;
  margin-right: 50px;
  margin-top: 5px; }

.background__footer {
  background-color: #68a678;
  margin-top: 10px; }

.footer__pad {
  padding-top: 8px; }

.footer__text {
  color: white;
  text-align: left;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-left: 20px; }

.footer__ul {
  list-style-type: none; }

.footer__img {
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
  border-radius: 50%; }

.footer__ul li {
  float: left; }

.text__footer__ul {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0; }
  .text__footer__ul:hover {
    color: white;
    text-decoration: none; }
  .text__footer__ul__a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0; }
  .text__footer__ul__a:hover {
    text-decoration: underline;
    color: white; }

.terms__and__conditions {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-left: 10px; }
  .terms__and__conditions:hover {
    color: white;
    text-decoration: underline; }

.footer__attention__img {
  border-radius: 50%;
  max-width: 20px;
  max-height: 20px;
  margin: 2px; }
