.main {
  &__margin {
    margin-top: 50px;
  }
  &__title {
    font-size: 50px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 15px;
    animation: fluido 3s ease-in-out infinite;
    background: linear-gradient(45deg, #12ff00, #68a678, #054600);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__image {
    width: 1270px;
    height: 745px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 3px solid #68a678;
    border-radius: 25px;
  }
}

.our__values {
  &__main__title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;
  }
  &__images {
    background-color: white;
    margin: 20px;
    width: 125px;
    height: 125px;
  }
  &__titles {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  &__texts {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-bottom: 50px;
  }
}

.background__second__div {
  background-color: #e7ffed;
  margin: 0px;
}
.our__products {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  &__title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    margin-top: 150px;
  }
  &__text {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: relative;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  &__button {
    border-radius: 3px;
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    background-color: #68a678;
  }
  &__button:hover {
    color: white;
    background-color: #054600;
  }
  &__images {
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 50px;
  }
}

.other__products {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  padding: 10px;
  &__order2 {
    background-color: #e7ffed;
    padding: 25px;
    margin: 10px;
  }
  &__order2:hover {
    transform: scale(1.1);
    background-color: beige;
  }
  &__imgs {
    width: 270px;
    height: 230px;
    border-radius: 10px;
    text-align: center;
  }
  &__texts {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
  }
  &__buttons {
    background-color: #68a678;
    padding: 5px 10px;
    margin: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-radius: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 30%;
  }
  &__buttons:hover {
    color: white;
    background-color: #054600;
  }
  &__allCategories {
    color: #68a678;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 25px;
    text-decoration: none;
  }
  &__allCategories:hover {
    color: #68a678;
    text-decoration: underline;
  }
}

.main__title__form {
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  margin-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  position: relative;
}

.main__text__form {
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form__bg {
  background-color: white;
}

.main__form {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.form__input__style {
  border-radius: 3px;
  border: 2px solid #68a678;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.form__input__size {
  width: 50%;
}

.form__button {
  padding: 0.5em 1em;
  border: none;
  background: #68a678;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 3px;
}
