.who__we__are {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  padding: 10px;
  &__texts {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-top: 200px;
    color: black;
  }
  &__images {
    height: 600px;
    border-radius: 35px;
    padding: 0 !important;
    box-shadow: 10px 10px 5px 0px #68a678;
    -webkit-box-shadow: 10px 10px 5px 0px #68a678;
    -moz-box-shadow: 10px 10px 5px 0px #68a678;
    margin-bottom: 50px;
  }
  &pad {
    padding-left: 10px;
  }
  &__instagram {
    text-decoration: none;
    color: #68a678;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  &__instagram:hover {
    color: #68a678;
    text-decoration: underline;
  }
  &__backmenu {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #68a678;
    padding: 10px;
    text-decoration: none;
  }
  &__backmenu:hover {
    color: #68a678;
    text-decoration: underline;
  }
}

.about__us {
  padding: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 25px;
  &__bg {
    background-color: #e7ffed;
  }
  &__box {
    padding: 5px;
    margin: 20px;
    border-radius: 50px;
    border: 3px solid #68a678;
  }
  &__titles {
    font-weight: bold;
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  &__images {
    width: 40px;
    height: 40px;
    padding: 3px;
  }
}

.meetUs {
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  &__titles {
    font-weight: bold;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
  }
  &__images {
    width: 250px;
    height: 270px;
    border-radius: 50%;
    padding: 5px;
    border: 3px solid #68a678;
    margin-top: 10px;
  }
  &__media {
    width: 25px;
    height: 25px;
    padding: 3px;
  }
  &__goodbye {
    padding: 10px;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  &__contact {
    text-decoration: none;
    color: #68a678;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  &__contact:hover {
    color: #68a678;
    text-decoration: underline;
  }
}

@media (max-width: 767px) {
  .who__we__are {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding: 10px;
    &__texts {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 18px;
      padding-top: 10px;
      color: black;
    }
    &__images {
      height: 200px;
      border-radius: 35px;
      padding: 0 !important;
      box-shadow: 10px 10px 5px 0px #68a678;
      -webkit-box-shadow: 10px 10px 5px 0px #68a678;
      -moz-box-shadow: 10px 10px 5px 0px #68a678;
      margin-bottom: 50px;
    }
    &pad {
      padding-left: 10px;
    }
    &__instagram {
      text-decoration: none;
      color: #68a678;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-size: 20px;
    }
    &__instagram:hover {
      color: #68a678;
      text-decoration: underline;
    }
    &__backmenu {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      color: #68a678;
      padding: 10px;
      text-decoration: none;
    }
    &__backmenu:hover {
      color: #68a678;
      text-decoration: underline;
    }
  }

  .about__us {
    padding: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
    &__bg {
      background-color: #e7ffed;
    }
    &__box {
      border-radius: 50px;
      border: 3px solid #68a678;
    }
    &__titles {
      font-weight: bold;
      font-size: 14px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    &__texts {
      font-size: 12px;
    }
    &__images {
      width: 40px;
      height: 40px;
      padding: 3px;
    }
  }

  .meetUs {
    padding: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    &__titles {
      font-weight: bold;
      font-size: 14px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      padding: 5px;
    }
    &__images {
      width: 100px;
      height: 110px;
      border-radius: 50%;
      padding: 3px;
      border: 3px solid #68a678;
      margin-top: 10px;
    }
    &__media {
      width: 25px;
      height: 25px;
      padding: 3px;
    }
    &__goodbye {
      padding: 10px;
      font-size: 20px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    &__contact {
      text-decoration: none;
      color: #68a678;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    &__contact:hover {
      color: #68a678;
      text-decoration: underline;
    }
  }
}
