.background__footer {
  background-color: #68a678;
  margin-top: 10px;
}

.footer__pad {
  padding-top: 8px;
}

.footer__text {
  color: white;
  text-align: left;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-left: 20px;
}

.footer__ul {
  list-style-type: none;
}

.footer__img {
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.footer__ul li {
  float: left;
}

.text__footer__ul {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  &:hover {
    color: white;
    text-decoration: none;
  }
  &__a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
  }
  &__a:hover {
    text-decoration: underline;
    color: white;
  }
}

.terms__and__conditions {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-left: 10px;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.footer__attention__img {
  border-radius: 50%;
  max-width: 20px;
  max-height: 20px;
  margin: 2px;
}